js2py
pyquery
flask==2.0.3;python_version < '3.7'
flask==2.2.2;python_version >= '3.7'
flask_migrate
flask-sqlalchemy==2.5.1
SQLAlchemy==1.4.40
requests
psutil
# netifaces
# gevent==1.1.2 ; sys_platform != 'win32' and python_version < '3.7'
# gevent==1.3.4 ; sys_platform != 'win32' and python_version >= '3.7' and python_version < '3.9'
# gevent==21.12.0 ; sys_platform == 'win32'
gevent
gunicorn  ; python_version >= '3.6'
supervisor ; sys_platform != 'win32'
func_timeout
easydict
jsonpath
quickjs
ujson
Werkzeug==2.2.2