body,html,.m-player{padding:0;padding-top:0!important;margin:0;width:100%;height:100%!important;background-color:#000}.player-logo{top:0px;max-width:160px;pointer-events:none;max-height:50px;z-index:1;margin-left: -160px;}.player-logo img{max-width:100%;max-height:100%;background:none}a{text-decoration:none}

#a1 {
    width: auto;
    height: 100% !important;
}

.mplayer-poster img {background-size: 150%; width: 100%; height: 100%; /*opacity: .38;*/ position: absolute;}
/*    height: auto !important;
    object-fit: contain !important;
}*/

#player,
.m-player .player-wrapper .video-wrapper video {
    height: 100% !important;
    width:  auto !important;
}

#pagefull-switch/*,
#back-button*/ {
    display: none !important;/*播放器标题*/
}

#mplayer-left {
    opacity: 1 !important;
}

#menu-button {
    display: block !important;
}

#buttom-group {
    padding-top: 20px;
}

#mplayer-header,
#mplayer-footer {
    background: none
}
#buttom-group img{max-width:160px;pointer-events:none;max-height:50px;z-index:1;margin-left: -160px;margin-top: -20px;}

.m-player .mplayer-sidebar .setting-box {
    margin: 10px;
}

.m-player .mplayer-sidebar .setting-box .play-speed {
    font-size: 14px;
    height: 30px;
    width: 40px;
    margin-right: 5px;
}

@media (max-width:760px) {
    .progress-ball {
        box-sizing: border-box;
        border: 3px solid #e72525;
        box-shadow: none
    }
    .xctips{
        font-size: 12px !important;
        top: 65% !important;
        width: 90% !important;
    }
    .player-logo{left:70%!important;}
    
}
@media screen and (min-width:1200px){
      .xctips{
        width: 35% !important;
    }  
}


.xctips{position:fixed; top:0; left:-60%; width:45%; height:40px; z-index:9999; background:rgb(16 16 16 .9);border-radius: 0 20px 20px 0; color:#FFF; line-height:40px; text-align:center; vertical-align:middle; font-size:14px; transition:background .2s linear;-webkit-transition:background .2s linear; font-family: "Microsoft YaHei", "微软细黑", "微软雅黑 Light" , "微软雅黑", "Arial", "SimSun", "宋体";}
.xctips.info{background:#3498db;}
.xctips.success{background:#2e2e2ee6;}
.xctips.error{background:#ff9090;}
.xctips.loading{background:#F93;}