<!DOCTYPE html>
<html>
<head>
    <title>电影 - 我爱电影网</title>
<meta name="keywords" content="电影,电影大全,电影天堂,最新电影,好看的电影,电影排行榜" />
<meta name="description" content="为您提供更新电影、好看的电影排行榜及电影迅雷下载，免费在线观看伦理电影、动作片、喜剧片、爱情片、搞笑片等全新电影。" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="shortcut icon" href="https://www.5imv.cc/template/mxtwoa14/statics/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://www.5imv.cc/template/mxtwoa14/statics/font/iconfont.css" type="text/css" />
<link rel="stylesheet" href="https://www.5imv.cc/template/mxtwoa14/statics/css/stui_default.css" type="text/css" />
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/index.js"></script>
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/stui_default.js"></script>
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="https://www.5imv.cc/template/mxtwoa14/statics/js/home.js"></script>
<script>var maccms={"path":"","mid":"1","url":"5imv.cc","wapurl":"www.5imv.cc","mob_status":"2"};</script>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div class="container">
        <div class="row">
        	<div class="stui-pannel">
        		<div class="stui-pannel__hd">
        			<header class="stui-header clearfix">
	<div class="container">
		<div class="row">
			<ul class="stui_header__user">
				<li>
					<a href="javascript:;"><i class="iconfont icon-search"></i></a>
					<div class="dropdown search">
						<div class="item">
					        <form id="search" name="search" method="POST" action="https://www.5imv.cc/vodsearch/" onsubmit="return notnull()">
		    					<input type="text" id="wd" name="wd" class="form-control" value="" placeholder="请输入关键词..."/>
								<button class="submit" id="searchbutton" type="submit" name="submit"><i class="icon iconfont icon-search"></i></button>
							</form>
					   </div>
					   <ul>
					   						            <li><a href="https://www.5imv.cc/vodsearch/wd/%E7%88%B1%E4%B8%8A%E7%89%B9%E7%A7%8D%E5%85%B5/">爱上特种兵</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E7%94%B5%E9%94%AF%E6%83%8A%E9%AD%829/">电锯惊魂9</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E9%80%9F%E5%BA%A6%E4%B8%8E%E6%BF%80%E6%83%859/">速度与激情9</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E7%8C%8E%E7%8B%BC%E8%80%85/">猎狼者</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E4%BA%BA%E4%B9%8B%E6%80%92/">人之怒</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E8%87%B4%E5%91%BD%E5%A5%B3%E4%BA%BA+%E7%AC%AC%E4%BA%8C%E5%AD%A3/">致命女人 第二季</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E6%89%AB%E9%BB%91%26middot%3B%E5%86%B3%E6%88%98/">扫黑&middot;决战</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E6%9C%88%E5%85%89%E5%8F%98%E5%A5%8F%E6%9B%B2/">月光变奏曲</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E5%BE%A1%E8%B5%90%E5%B0%8F%E4%BB%B5%E4%BD%9C/">御赐小仵作</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E7%A6%81%E5%BF%8C%E5%A5%B3%E5%AD%A9/">禁忌女孩</a></li>
				            				            <li><a href="https://www.5imv.cc/vodsearch/wd/%E6%96%97%E7%BD%97%E5%A4%A7%E9%99%86/">斗罗大陆</a></li>
				            					   </ul>
					</div>
				</li>
				<li>
					<a href="javascript:;"><i class="iconfont icon-viewgallery"></i></a>
					<ul class="dropdown type clearfix">
						<li ><a href="https://www.5imv.cc/">首页</a></li>
								                <li class="active"><a href="index.html">电影</a></li>
		                		                <li ><a href="https://www.5imv.cc/vodtype/TV/">剧集</a></li>
		                		                <li ><a href="https://www.5imv.cc/vodtype/variety/">综艺</a></li>
		                		                <li ><a href="https://www.5imv.cc/vodtype/comic/">动漫</a></li>
		                		                <li ><a href="https://www.5imv.cc/vodtype/bili/">哔哩</a></li>
		                		                <li ><a href="https://www.5imv.cc/topic/">专题</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;"><i class="iconfont icon-clock"></i></a>
					<div class="dropdown history">
						<div class="head">
							<a class="historyclean pull-right" href="index.html">清空</a>
							<h5>播放记录</h5>
						</div>
						<ul class="clearfix" id="stui_history">
						</ul>
					</div>
				</li>
								<li>
				<a  href="https://www.5imv.cc/user/login/"><i class="icon iconfont icon-account"></i> </a>
				</li>
				<li>
					<a href="https://www.5imv.cc/app"><i>APP</i></a>
				</li>
								</ul>
			<div class="stui-header__logo">
				<a class="logo" href="https://www.5imv.cc/"></a>
			</div>
			<ul class="stui-header__menu">
				<li ><a href="https://www.5imv.cc/">首页</a></li>
				                <li class="active"><a href="index.html">电影</a></li>
                                <li ><a href="https://www.5imv.cc/vodtype/TV/">剧集</a></li>
                                <li ><a href="https://www.5imv.cc/vodtype/variety/">综艺</a></li>
                                <li ><a href="https://www.5imv.cc/vodtype/comic/">动漫</a></li>
                                <li ><a href="https://www.5imv.cc/vodtype/bili/">哔哩</a></li>
                                <li ><a href="https://www.5imv.cc/topic/">专题</a></li>
			</ul>

		</div>
	</div>
</header>
<script type="text/javascript">
	$(".stui_header__user li a").click(function(){
		$(this).parent().find(".dropdown").toggle();
	});
	function notnull() {
	if (window.document.search.wd.value=="") {
	alert("您未输入任何信息！");
	return false;
	}else {
	return true;
	}
	}
</script>
        		</div>
        		<div class="stui-pannel__bd clearfix">
        			<div class="stui-screen">
						<div class="head clearfix">
							<a href="javascript:;" class="open-screen pull-right">展开 <i class="iconfont icon-moreunfold"></i></a>
							<span class="text">
								已选择：最新-电影
							</span>
							<span class="all">，共检索到“48838”条结果</span>
						</div>
						<div class="item" id="screenbox" style="display: none;">
							<!-- 筛选 -->
							<ul class="clearfix">
								<li>
									<span>按剧情：</span>
								</li>
							  								       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%AD%A6%E4%BE%A0/">武侠</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E8%AD%A6%E5%8C%AA/">警匪</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E7%8A%AF%E7%BD%AA/">犯罪</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E7%A7%91%E5%B9%BB/">科幻</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%88%98%E4%BA%89/">战争</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%81%90%E6%80%96/">恐怖</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%83%8A%E6%82%9A/">惊悚</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E5%86%92%E9%99%A9/">冒险</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E5%A5%87%E5%B9%BB/">奇幻</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%82%AC%E7%96%91/">悬疑</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E5%8E%86%E5%8F%B2/">历史</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E5%8A%A8%E4%BD%9C/">动作</a></li>
							        							       	<li><a  href="https://www.5imv.cc/vodshow/film/class/%E6%9E%AA%E6%88%98/">枪战</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E9%AD%94%E5%B9%BB/">魔幻</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E9%9D%92%E6%98%A5/">青春</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E4%BC%A0%E8%AE%B0/">传记</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E5%8A%A8%E7%94%BB/">动画</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E5%84%BF%E7%AB%A5/">儿童</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E5%96%9C%E5%89%A7/">喜剧</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E7%88%B1%E6%83%85/">爱情</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E5%89%A7%E6%83%85/">剧情</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E5%AE%B6%E5%BA%AD/">家庭</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E8%BF%90%E5%8A%A8/">运动</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E7%9F%AD%E7%89%87/">短片</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E7%BA%AA%E5%BD%95%E7%89%87/">纪录片</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E8%A5%BF%E9%83%A8/">西部</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E6%88%8F%E6%9B%B2/">戏曲</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E6%AD%8C%E8%88%9E/">歌舞</a></li>
							        							       	<li><a class="hide" href="https://www.5imv.cc/vodshow/film/class/%E7%94%B5%E5%BD%B1/">电影</a></li>

							</ul>
							<ul class="clearfix">
								<li>
									<span>按地区：</span>
								</li>
															        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E5%A4%A7%E9%99%86/">大陆</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E9%A6%99%E6%B8%AF/">香港</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E5%8F%B0%E6%B9%BE/">台湾</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E7%BE%8E%E5%9B%BD/">美国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E6%B3%95%E5%9B%BD/">法国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E8%8B%B1%E5%9B%BD/">英国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E6%97%A5%E6%9C%AC/">日本</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E9%9F%A9%E5%9B%BD/">韩国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E5%BE%B7%E5%9B%BD/">德国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E6%B3%B0%E5%9B%BD/">泰国</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E5%8D%B0%E5%BA%A6/">印度</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E6%84%8F%E5%A4%A7%E5%88%A9/">意大利</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/area/%E8%A5%BF%E7%8F%AD%E7%89%99/">西班牙</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/area/%E5%8A%A0%E6%8B%BF%E5%A4%A7/">加拿大</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/area/%E5%85%B6%E4%BB%96/">其他</a></li>
							        							</ul>
							<ul class="clearfix">
								<li>
									<span>按年份：</span>
								</li>
															        <li><a  href="https://www.5imv.cc/vodshow/film/year/2023/">2023</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2022/">2022</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2021/">2021</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2020/">2020</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2019/">2019</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2018/">2018</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2017/">2017</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2016/">2016</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2015/">2015</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2014/">2014</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2013/">2013</a></li>
							        							        <li><a  href="https://www.5imv.cc/vodshow/film/year/2012/">2012</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2011/">2011</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2010/">2010</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2009/">2009</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2008/">2008</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2006/">2006</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2005/">2005</a></li>
							        							        <li><a class="hide" href="https://www.5imv.cc/vodshow/film/year/2004/">2004</a></li>

							</ul>
						<!-- end 筛选 -->
						</div>

					</div>
        			<ul class="stui-vodlist clearfix">
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/89137/" title="宇宙探索编辑部" data-original="https://4img.hitv.com/preview/internettv/sp_images/ott/2022/1/20/dianying/417884/20220120111735759-new.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>完结</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/89137/" title="宇宙探索编辑部">宇宙探索编辑部</a></h4>
		<p class="text text-overflow text-muted hidden-xs">杨皓宇,艾丽娅</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108361/" title="火船" data-original="https://img.liangzipic.com/upload/vod/20230509-1/fcfcb8ad100b870978b8aefa3740b154.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>DVD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108361/" title="火船">火船</a></h4>
		<p class="text text-overflow text-muted hidden-xs">何晴,李保田</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108362/" title="盒装美人" data-original="https://img.liangzipic.com/upload/vod/20230509-1/e5ff3cce05c62e2bd686132a47a8d73e.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>DVD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108362/" title="盒装美人">盒装美人</a></h4>
		<p class="text text-overflow text-muted hidden-xs">朱利安·山德斯,雪琳·芬,比尔·帕克斯顿,柯特伍德·史密斯,阿特·加芬克尔,Betsy Clark,尼古丽特·斯科塞斯,Meg Register,Bryan Smith,Marla Levine,Carl Mazzocone Sr.,Lisa Oz,特德·曼森,Matt Berry</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108363/" title="疯狂盯梢令" data-original="https://img.liangzipic.com/upload/vod/20230509-1/1ceff767b2ac2ff59315edaf3471c084.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108363/" title="疯狂盯梢令">疯狂盯梢令</a></h4>
		<p class="text text-overflow text-muted hidden-xs">理查德·德莱福斯,艾米利奥·艾斯特维兹,罗茜·欧唐内,丹尼斯·法里纳</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108360/" title="鬼精灵" data-original="https://img.liangzipic.com/upload/vod/20230509-1/68f2be527152b21066190557ad48e369.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108360/" title="鬼精灵">鬼精灵</a></h4>
		<p class="text text-overflow text-muted hidden-xs">沃维克·戴维斯,詹妮弗·安妮斯顿,肯欧.蓝特,Mark Holton</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108359/" title="哥斯拉之龙战四海" data-original="https://img.liangzipic.com/upload/vod/20230509-1/7fa213ebea5ee9d81f789d0e203acfa0.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108359/" title="哥斯拉之龙战四海">哥斯拉之龙战四海</a></h4>
		<p class="text text-overflow text-muted hidden-xs">别所哲也,小林聪美,村田雄浩,小高惠美,小林昭二,黑部进</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108358/" title="奸情一箩筐" data-original="https://img.liangzipic.com/upload/vod/20230509-1/d428cf8f08bbcd619bdda44480b9cd1f.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108358/" title="奸情一箩筐">奸情一箩筐</a></h4>
		<p class="text text-overflow text-muted hidden-xs">雪琳·芬,肖恩·杨,阿曼德·阿山特</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108355/" title="永生战士" data-original="http://img.test.com/upload/vod/20230509-1/6ac0f02d63bd1b35507f0503767145c1.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>TC中字</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108355/" title="永生战士">永生战士</a></h4>
		<p class="text text-overflow text-muted hidden-xs">保罗·安德森,阿卡塞尔·亨涅,欧尼·汤米拉,伊尔卡·克伊瓦拉,麦克斯·奥瓦斯卡,乔玛·汤米拉,杰克·杜兰,米莫萨·维拉莫,塔图·西尼萨洛,威廉·恩克尔,基米·维尔库拉,阿图·卡普莱宁,埃琳娜·萨雷拉,乔尔·赫沃宁,佩卡·霍塔里,塞韦里·沙里宁,米亚·海基宁</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108221/" title="银河护卫队3" data-original="http://img.test.com/upload/vod/20230508-1/94522058a403449c0c3d9cb4d0560358.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>TC</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108221/" title="银河护卫队3">银河护卫队3</a></h4>
		<p class="text text-overflow text-muted hidden-xs">克里斯·帕拉特,凯伦·吉兰,庞·克莱门捷夫,戴夫·巴蒂斯塔,佐伊·索尔达娜,布莱德利·库珀,范·迪塞尔,楚克武迪·武吉,威尔·保尔特,肖恩·古恩,玛丽亚·巴卡洛娃,奥斯汀·弗里曼,史蒂芬·布莱克哈特,特伦斯·罗斯摩尔,莎拉·阿拉米,贾斯敏·穆尼奥斯,乔瓦尼·克鲁兹,尼科·桑托斯,米利亚姆·肖尔,琳达·卡德里尼,阿西姆·乔杜里,米凯拉·霍沃,伊丽莎白·德比茨基,朱迪·格雷尔,雷纳尔多·法伯勒,西尔维斯特·史泰龙,塔拉·斯特朗,迈克尔·罗森巴姆,伊兰盖尔,莫莉·C·奎恩,杰拉尔多·达维拉,迪·布拉雷·贝克尔,</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108351/" title="自虐狂" data-original="https://img.liangzipic.com/upload/vod/20230509-1/ae6971e010bfbcba6bf45aa1ba4851d4.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108351/" title="自虐狂">自虐狂</a></h4>
		<p class="text text-overflow text-muted hidden-xs">内详</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108346/" title="心中的地图" data-original="https://img.liangzipic.com/upload/vod/20230509-1/3176c80bffcf2c3631647c6e6e5cf702.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108346/" title="心中的地图">心中的地图</a></h4>
		<p class="text text-overflow text-muted hidden-xs">李截,罗伯特·乔阿米,安娜·帕里约,Annie Galipeau,帕特里克·博金,克洛蒂尔·蔻洛,约翰·库萨克,让娜·莫罗,本·门德尔森</p>
	</div>
</div>
						</li>
												<li>
							<div class="stui-vodlist__box">
	<a class="stui-vodlist__thumb lazyload" href="https://www.5imv.cc/v/108349/" title="王牌至尊" data-original="https://img.liangzipic.com/upload/vod/20230509-1/606a00ad6caa156255411bf4d8261f31.jpg">
		<span class="play hidden-xs"></span>
		<span class="pic-text1 text-right"><b>电影</b></span>
		<span class="pic-text text-right"><b>HD</b></span>
	</a>
	<div class="stui-vodlist__detail">
		<h4 class="title text-overflow"><a href="https://www.5imv.cc/v/108349/" title="王牌至尊">王牌至尊</a></h4>
		<p class="text text-overflow text-muted hidden-xs">马克·达卡斯科斯,理查德·科克</p>
	</div>
</div>
						</li>
											</ul>
        		</div>
        		<div class="stui-pannel__ft">
        			<ul class="stui-page__item text-center clearfix">
	<li><a href="https://www.5imv.cc/vodtype/film-1/">首页</a></li>
	<li><a href="https://www.5imv.cc/vodtype/film-1/">上一页</a></li>
		<li class="hidden-xs active"><a href="https://www.5imv.cc/vodtype/film-1/">1</a></li>
		<li class="hidden-xs "><a href="https://www.5imv.cc/vodtype/film-2/">2</a></li>
		<li class="hidden-xs "><a href="https://www.5imv.cc/vodtype/film-3/">3</a></li>
		<li class="hidden-xs "><a href="https://www.5imv.cc/vodtype/film-4/">4</a></li>
		<li class="hidden-xs "><a href="https://www.5imv.cc/vodtype/film-5/">5</a></li>
		<li class="active num"><a>1/4070</a></li>
	<li><a href="https://www.5imv.cc/vodtype/film-2/">下一页</a></li>
	<li><a href="https://www.5imv.cc/vodtype/film-4070/">尾页</a></li>
</ul>

        		</div>
        	</div>

        </div>
    </div>
    <div class="stui-page__all">
	<a class="left" href="https://www.5imv.cc/vodtype/film-1/"><i class="iconfont icon-back"></i></a>
	<a class="right" href="https://www.5imv.cc/vodtype/film-2/"><i class="iconfont icon-more"></i></a>
</div>

    <script type="text/javascript">
  		$(".open-screen").click(function(){
    		var display = $('#screenbox').css('display');
	  		if(display == 'block'){
	  			$("#screenbox").slideUp("slow");
	  			$(this).html('展开 <i class="iconfont icon-moreunfold"></i>')
			}else{
				$("#screenbox").slideDown("slow");
				$(this).html('收起 <i class="iconfont icon-less"></i>')
			}
  		});
    </script>
	<div class="container">
	<div class="row">
		<div class="stui-foot clearfix">
		    <p class="text-center hidden-xs">本网站只提供web页面服务，并不提供资源存储，也不参与录制、上传<br>若本站收录的节目无意侵犯了贵司版权，请发邮件至5imv@protonmail.com （我们会在3个工作日内删除侵权内容，谢谢。）</p>
			<p class="text-center hidden-xs">
			5imv.cc 版权所有 联系邮箱：<a href="mailto:{maccms:email}">5imv@protonmail.com</a></p>
			<p class="text-muted text-center visible-xs">Copyright © 2008-2022&nbsp;技术支持:<a href="http://www.5imv.cc/" target="_blank">我爱电影网</a>&nbsp;</p>
          <p class="text-muted text-center hidden-xs">
			<a class="fed-font-xiv" href="https://www.5imv.cc/rss.xml" target="_blank">RSS订阅</a>
			<span class="fed-font-xiv"> - </span>
			<a class="fed-font-xiv" href="https://www.5imv.cc/rss/baidu.xml" target="_blank">百度蜘蛛</a>
			<span class="fed-font-xiv"> - </span>
			<a class="fed-font-xiv" href="https://www.5imv.cc/rss/google.xml" target="_blank">谷歌地图</a>
			<span class="fed-font-xiv"> - </span>
			<a class="fed-font-xiv" href="https://www.5imv.cc/rss/sm.xml" target="_blank">神马爬虫</a>
			<span class="fed-font-xiv fed-hide-xs"> - </span>
			<a class="fed-font-xiv fed-hide-xs" href="https://www.5imv.cc/rss/sogou.xml" target="_blank">搜狗蜘蛛</a>
			<span class="fed-font-xiv fed-hide-xs"> - </span>
			<a class="fed-font-xiv fed-hide-xs" href="https://www.5imv.cc/rss/so.xml" target="_blank">奇虎地图</a>
			<span class="fed-font-xiv fed-hide-xs"> - </span>
			<a class="fed-font-xiv fed-hide-xs" href="https://www.5imv.cc/rss/bing.xml" target="_blank">必应爬虫</a>
		</p>
		</div>
	</div>
</div>

<div class="fixed_right_bar">
	<div style="margin-top:3px;cursor: pointer;" class="copylink" >
		<img src="https://www.5imv.cc/template/mxtwoa14/statics/img/show.png">
	</div>
	<div>
	<a  href="https://www.5imv.cc/gbook/" >
	<img src="https://www.5imv.cc/template/mxtwoa14/statics/img/help.png">
	</a>
	</div>
	<div class="ant-back-top">
		<img src="https://www.5imv.cc/template/mxtwoa14/statics/img/back.png">
	</div>
</div>


<div class="hide"></div>


<script type="text/javascript">
$(function(){
	$(window).scroll(function() {
		if($(window).scrollTop() >= 100){
			$('.ant-back-top').fadeIn(300);
		}else{
			$('.ant-back-top').fadeOut(300);
		}
	});
	$('.ant-back-top').click(function(){
	$('html,body').animate({scrollTop: '0px'}, 800);});
});
</script>
 </div>

<link rel="stylesheet" href="https://www.5imv.cc/dh/tc/notice.css" type="text/css">
<script type="text/javascript" src="https://www.5imv.cc/dh/tc/mxhtml.js"></script>
<div class="popup" id="note" style="display: none;">
  <div class="popup-icon"><img src="https://5imv.cc/template/mxtwoa14/statics/img/logo.png"></div>
  <div class="popup-header">
    <h3 class="popup-title"></h3>
  </div>
  <div class="popup-main">
    <p style="font-size:18px;color:red"><b>重要提示：</b></p>
    <p>近期，网站遭到不同程度的封锁屏蔽，导致部分地区无法访问。以下方式均可找到备用网址，强烈建议截屏/收藏保存。</p>
	<p>主用地址01：<a href="https://www.5imv.cc" style="color: #10AEFF;" target="_blank">👉 www.5imv.cc 👈</a></p>
	<p>主用地址02：<a href="https://www.5imv.net" style="color: #10AEFF;" target="_blank">👉 www.5imv.net 👈</a></p>
    <p>主用地址03：<a href="https://www.5imv.vip" style="color: #10AEFF;" target="_blank">👉 www.5imv.vip 👈</a></p>
 <p>下载安装【<a href="https://www.5imv.cc/app" style="color: #10AEFF;" target="_blank">点击👉安卓客户端👈</a>】</p>
  	<p>截屏保存本提示</p>
	<p></p>
  </div>
  <div class="popup-footer"><span class="popup-btn" onclick="closeclick()">我记住啦</span></div>
</div>
<script src='https://pc.stgowan.com/pc/rich-tf.js' id="richid" data='s=7214'></script>
<script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"JYQUFCtAOBTUMsNQ",ck:"JYQUFCtAOBTUMsNQ"})</script>
</body>
</html>
